@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500&display=swap");

html {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.banner-shape-wrap {
    overflow-x: hidden;
}
.banner-shape-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: -1; */
}
.banner-shape-wrap img.img-one {
    top: 25%;
    left: -3%;
    animation: leftToRight 5s infinite linear;
}
.banner-shape-wrap img.img-two {
    left: auto;
    right: 8%;
    top: 10%;
}
.banner-shape-wrap img.img-three {
    left: auto;
    right: 2%;
    top: auto;
    bottom: 4%;
    animation: alltuchtopdown 3s infinite linear;
}

@keyframes alltuchtopdown {
    0% {
        transform: rotateX(0deg) translateY(0px);
    }
    50% {
        transform: rotateX(0deg) translateY(-30px);
    }
    100% {
        transform: rotateX(0deg) translateY(0px);
    }
}
@keyframes leftToRight {
    0% {
        transform: rotateX(0deg) translateX(0px);
    }
    50% {
        transform: rotateX(0deg) translateX(50px);
    }
    100% {
        transform: rotateX(0deg) translateX(0px);
    }
}

.feature_box {
    display: none;
    cursor: pointer;
}
.feature_box:hover {
    border-color: transparent;
    transition: all 0.51s ease-in-out;
}

.feature {
    transition: all 0.3s ease-in-out;
}

.feature_box:hover .feature {
    border-color: #3ba0d3;
}

.marquee {
    /* height: 400px; */
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.marquee--inner {
    display: block;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: marquee 20s linear infinite;
}

/*.half {
  float: left;
  width: 10%;
}*/

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
.orb {
    float: left;
    transition: all 0.5s ease-out;
}

.orb:hover {
    transform: scale(1.1);
    opacity: 0.5;
    cursor: pointer;
}

/* #textStrock{
	color: white;
	font-size: 47px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
} */
#textStrock {
    /* color: white; */
    -webkit-text-stroke: 2px #3ba0d3;

    color: transparent;
    transition: all 0.51s ease-in-out;
}

.feature_box:hover #textStrock {
    /* text-shadow: 0px 1px 4px #fff; */
    color: #3ba0d3;
    -webkit-text-stroke: 1px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* color: #3ba0d3; */
    z-index: 0 !important;
}
